.container{
    display: flex;  
 }
 
 .jumbotron {
     background-size: cover;
     color: white;
     background-color: #696969;
     border-style: solid;
     border-width: 1px;
     border-color: white;
 }
 body {
     background-color: black;
 }
 

 #age {
     text-align: center;
     color: white;
 }
 
 .btn-toolbar{
     padding: 10px 0px;
 }

 .btn-primary{
  text-align: center;
  margin-left: 540px;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
 }

  footer {
  clear: both;
  color: white;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  bottom: 0px;
  width: 100%;

 }
 
 #age {
     text-align: center;
     color: white;
 }

 #FinalSubmit{
     margin-bottom: 20px;
     width: 150px;
 }

 .image{
    height: 200px;
    width: 200px;
 }

 .btn-toolbar{
     padding: 0px;
     margin: 0px;
 }

 #movie-results{
     margin-bottom: 20px;
 }

 #food-results{
     margin-bottom: 20px;
 }
